<header>
  <title>
    Schoodles
  </title>
    <nav id="nav-bar">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <!-- <img class="logo" src=""> -->
      <span class="header">Schoodle</span>
      <form action="/" method="GET">
        <button class="btn" id="home">HOME</button>
      </form>
    </nav>
</header>

