<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>

    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />


    <link rel="stylesheet" href="../public/styles/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="../public/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

     <script type="text/javascript" src="../public/scripts/bootstrap.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../public//scripts/app.js"></script>
  </head>

  <body>

   <nav id="nav-bar">
     <!--  <img class="logo" src="images/bird.png"> -->
    <!-- <span class="header">Schoodle</span> -->
      <!-- <button id="login">Login</button> -->
      <h2>Schoodle</h2>
    </nav>
      <h1>This is the page where the calendar and time slots will be displayed once the event has been created</h1>
    </body>

    <section class="long-url">
<form action="#" method="GET" >
<input type="text" class="long-url" name="long-url" value="https://www.schoodle.com/event/long id generated">
</form>
    </section>
</html>