body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

.container {
  background-color: #ffffff;
  clear: both;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 75%s;
  padding: 2em;
}



#nav-bar {
  background-color: #3DB8B1;
  clear: both;
  color: #e8fdff;
  height: 80px;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#nav-bar .logo {
  float: left;
  height: 80px;
  padding-right: 10px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
}

#login {
  background-color: white;
  border-radius: 5px;
  float: right;
  margin-top: 12px;
  opacity: 0.5;
  padding: 15px;
}

.event-date-time {
  padding: 20px;
}

.date-picker {
  padding: 20px;
}

.start-time,
.end-time     {
  margin: 20px;
  padding: 10px;
}





