body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

.container {
  background-color: #ffffff;
  clear: both;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 75%;
  padding: 2em;
}

#login {
  background-color: white;
  border-radius: 5px;
  float: right;
  margin-top: 12px;
  opacity: 0.5;
  padding: 15px;
}

.event-date-time {
  padding: 20px;
}

.date-picker {
  padding: 20px;
}

.start-time,
.end-time     {
  margin: 20px;
  padding: 10px;
}






